# ===================
# DATABASE
# ===================
DB_DATABASE=sentinel
DB_USERNAME=sentinel
DB_PASSWORD=secret

# ===================
# REDIS
# ===================
REDIS_HOST=redis
REDIS_PORT=6379

# ===================
# APP
# ===================
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

# ===================
# FRONTEND
# ===================
VITE_API_URL=http://localhost/api

# ===================
# ZAP (DAST)
# ===================
ZAP_API_URL=http://zap:8080

